@model Project2018.Models.EntityFramework.User1
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />    
    <title>Login</title>
</head>
<body>    
    <div class="container">
        <h2>Please Log in</h2>
        <h5 class="text-danger">@ViewBag.Message</h5>
        @using (Html.BeginForm("Login","Security",FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Username" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
            </div>
            <button type="submit" , class="btn btn-block btn-outline-dark">Log in</button>
        }                
    </div>
</body>
</html>
